- title 'Releases'
%p Click on an application below to view the pending and deployed releases.
%ul
  - @app_names.each do |app_name|
    %li{id: app_name}
      %h5= app_name
      %ul
        %li
          = link_to 'Pending and Deployed Releases', release_path(app_name)
        %li
          = link_to 'Unapproved Releases and Release Exception', unapproved_deployment_path(app_name)
